node_modules
.env
.env.local
artifacts
cache
coverage
coverage.json
typechain-types
.openzeppelin
.next
out
dist
*.tsbuildinfo
*.log
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
frontend/lib/deployed.local.json
frontend/.local-ipfs
